.App{
    margin-top: 20px;
    margin-left: 20px;
    width: 1300px;
    height: 800px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    
    .left-side{
        width: 60px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        background-color: #06978f;
        opacity: .6;
        .route-icon{
            color: #eee;
            font-size: 30px;
            margin-bottom: 20px;
        }
    }
    .right-side{
        flex: 1;
        height: 100%;

        opacity: .9;
    }
}